# zsh version: {{ zsh_version }}
# antigen version: {{ zsh_antigen_installed_version }}


export SHELL="$HOME/.linuxbrew/bin/zsh"
[ -z "$ZSH_VERSION" ] && exec "$SHELL" -l

export TERM="{{ zsh_term }}"
export EDITOR="{{ zsh_editor }}"
export PATH="{{ zshenv_path | join(":") }}"

fpath=("$HOME/.linuxbrew/share/zsh/functions" $fpath)
export FPATH="$FPATH"

# Save history so we get auto suggestions
HISTFILE="$HOME/.zsh_history"
HISTSIZE=100000
HIST_STAMPS="{{ zsh_hist_stamps }}"
UPDATE_ZSH_DAYS="{{ zsh_update_interval }}"
COMPLETION_WAITING_DOTS="true"

# Options
setopt auto_cd # cd by typing directory name if it's not a command
setopt auto_list # automatically list choices on ambiguous completion
setopt auto_menu # automatically use menu completion
setopt always_to_end # move cursor to end if word had one match
setopt hist_ignore_all_dups # remove older duplicate entries from history
setopt hist_reduce_blanks # remove superfluous blanks from history items
setopt inc_append_history # save history entries as soon as they are entered
setopt share_history # share history between different instances
setopt correct_all # autocorrect commands
setopt interactive_comments # allow comments in interactive shells
# Improve autocompletion style
zstyle ':completion:*' menu select # select completions with arrow keys
zstyle ':completion:*' group-name '' # group results by category
zstyle ':completion:::::' completer _expand _complete _ignored _approximate # enable approximate matches for completion


# Source ZSH Plugins
ADOTDIR="$HOME/.antigen"
ANTIGEN_BUNDLES="$ADOTDIR/bundles"
ANTIGEN_PLUGIN_UPDATE_DAYS=30
ANTIGEN_SYSTEM_UPDATE_DAYS=30
ANTIGEN_CAHCE="$ADOTDIR/init.zsh"
ANTIGEN_COMPDUMP="$ADOTDIR/.zcompdump"

source "{{ zsh_antigen_path }}"/antigen.zsh
# antigen use oh-my-zsh


{% set bundles_enabled = [] %}

{% for bundle in zsh_antigen_bundles -%}
    {%- if bundle is mapping -%}
        {% set valid = true -%}
        {% set command_not_exists = [] -%}

        {%- if bundle.when is defined and not bundle.when -%}
            {% set valid = false -%}
        {% endif -%}

        {% if bundle.command is defined -%}
            {% for cmd in zsh_register_commands_exists.results -%}
                {% if cmd.cmd is defined and cmd.rc != 0 and cmd.item.command == bundle.command -%}
                    {% if command_not_exists.append(1) %}{% endif -%}
                {% endif -%}
            {% endfor -%}
        {% endif -%}

        {% if valid and not command_not_exists %}
            {%- if 'zsh-syntax-highlighting' in bundle.name or 'fast-syntax-highlighting' in bundle.name -%}
# will fixed in zsh-autosuggestion v0.4 - https://github.com/zsh-users/zsh-autosuggestions/pull/218
if (( ZSHRC_LOAD_ONCE++ == 0 )); then
    antigen bundle {{ bundle.name }}
fi
{% else -%}
{% if bundles_enabled.append(bundle.name) %}{% endif -%}
antigen bundle {{ bundle.name }}
{% endif -%}
        {% endif -%}
    {%- else -%}
{% if bundles_enabled.append(bundle) %}{% endif -%}
antigen bundle {{ bundle }}
{% endif %}
{% endfor %}

{% if zsh_antigen_installed_version is version_compare(2.0, '>=') %}
POWERLEVEL9K_INSTALLATION_PATH=$ANTIGEN_BUNDLES/bhilburn/powerlevel9k/powerlevel9k.zsh-theme
{% elif zsh_version is version_compare('5.0.8', '<') %}
POWERLEVEL9K_INSTALLATION_PATH={{ zsh_antigen_path }}/repos/https-COLON--SLASH--SLASH-github.com-SLASH-bhilburn-SLASH-powerlevel9k.git
{% endif %}



autoload -Uz copy-earlier-word
zle -N copy-earlier-word



# powerlevel9k
POWERLEVEL9K_COLOR_SCHEME={{ zsh_powerlevel9k_color_scheme }}

POWERLEVEL9K_SHORTEN_STRATEGY={{ zsh_powerlevel9k_shorten_strategy }}
POWERLEVEL9K_SHORTEN_DIR_LENGTH={{ zsh_powerlevel9k_shorten_dir_length }}
POWERLEVEL9K_STATUS_VERBOSE={{ zsh_powerlevel9k_status_verbose }}
POWERLEVEL9K_STATUS_OK_IN_NON_VERBOSE={{ zsh_powerlevel9k_status_ok_in_non_verbose }}




{% if zsh_powerlevel_custom_elements is defined and zsh_powerlevel_custom_elements %}
{% for element in zsh_powerlevel_custom_elements %}
{% set prefix = "POWERLEVEL9K_CUSTOM_" + element.name | upper %}
{{ prefix }}="{{ element.command }}"
{{ prefix }}_BACKGROUND="{{ element.background }}"
{{ prefix }}_FOREGROUND="{{ element.foreground }}"
{% endfor %}
{% endif %}

# https://github.com/bhilburn/powerlevel9k#command_execution_time
POWERLEVEL9K_COMMAND_EXECUTION_TIME_THRESHOLD="{{ zsh_command_time_min_seconds }}"

# Powerlevel9K prompt config
DEFAULT_USER="$USER"
POWERLEVEL9K_MODE='nerdfont-complete'
POWERLEVEL9K_COLOR_SCHEME='dark'
POWERLEVEL9K_LEFT_SEGMENT_SEPARATOR="\uE0B0"
POWERLEVEL9K_STATUS_VERBOSE=false
POWERLEVEL9K_STATUS_OK_IN_NON_VERBOSE=true
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_PROMPT_ADD_NEWLINE=true
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=''
POWERLEVEL9K_MULTILINE_LAST_PROMPT_PREFIX="↳ "
POWERLEVEL9K_SHORTEN_DIR_LENGTH=2
POWERLEVEL9K_SHORTEN_STRATEGY="truncate_from_right"
POWERLEVEL9K_PYTHON_ICON=''
POWERLEVEL9K_OS_ICON_BACKGROUND="black"
POWERLEVEL9K_OS_ICON_FOREGROUND="white"
POWERLEVEL9K_USER_ICON="\uF415" # 
POWERLEVEL9K_ROOT_ICON="#"
POWERLEVEL9K_SUDO_ICON=$'\uF09C' # 
POWERLEVEL9K_TIME_FORMAT="%D{\uf017 %H:%M \uf073 %m.%d}"

POWERLEVEL9K_BATTERY_CHARGING='yellow'
POWERLEVEL9K_BATTERY_CHARGED='green'
POWERLEVEL9K_BATTERY_DISCONNECTED='$DEFAULT_COLOR'
POWERLEVEL9K_BATTERY_LOW_THRESHOLD='10'
POWERLEVEL9K_BATTERY_LOW_COLOR='red'
POWERLEVEL9K_BATTERY_ICON='\uf1e6 '
POWERLEVEL9K_LEFT_SEGMENT_SEPARATOR="\uE0B0"
#POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon ssh root_indicator context dir vcs)
#POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status command_execution_time time anaconda)
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon battery context dir vcs)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(command_execution_time time load)

antigen theme {{ zsh_antigen_theme }}

antigen apply

##

. $HOME/anaconda3/etc/profile.d/conda.sh
conda activate

# user configs
[[ -r /etc/zsh/zshrc.local ]] && source /etc/zsh/zshrc.local
[[ -r "$HOME/.zshrc.local" ]] && source "$HOME/.zshrc.local"
